.poncon-login {
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.poncon-login .box {
    width: 100%;
    max-width: 250px;
}

.poncon-login .title {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.poncon-login .input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
    max-width: 250px;
}

.poncon-login .msg {
    color: rgb(25, 173, 109);
    text-align: center;
}

.poncon-login .box.register {
    display: none;
}